:root {
  --primary-color: #ed4d55;
  --highlight-color: #fdfc7e;
  --text-color: #2e2e2e;
  --accent-color: #f0f002;
  --link-color: #a00f16;

}

* {
  font-family: "VT323", monospace;
}

html {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding-block: 20px;
  padding-top: 60px;
  color: var(--text-color);
  overflow-x : hidden;
}

::selection {
  color: var(--accent-color);
  background-color: var(--primary-color);
}

h1, h1 span {
  font-family: "Pixelify Sans", sans-serif;
  font-size: 70px;
  max-width: 700px;
  text-align: center;
}

h1 span {
  background-color: var(--highlight-color);
}

header{
  display: flex;
  justify-content: center;
}

nav {
  z-index: 10000;
  background-color: #ffffff08;
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  width: 900px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-inline: 5px;
  border-radius: 5px;
  border-bottom: 2px solid #a00f161c;
  font-size: 1.5rem;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 30px;
  padding-left: 0;
}

nav ul li {
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 8px;
}

nav ul li::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--accent-color);

  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

nav ul li:hover::after {
  transform: scaleX(1);
}

nav div p {
  font-size: 1.5rem;
  padding-inline: 15px;
  padding-block: 5px;
  font-weight: bold;
  color: var(--highlight-color);
  background-color: var(--primary-color);
  border-radius: 8px;
  transition: all 0.3s ease;
}

#logo_short{
  display: none;
}

main {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

#surprise_button {
  padding: 10px;
  padding-inline: 25px;
  font-size: 1.5rem;
  cursor: pointer;
  background-color: var(--text-color);
  border: none;
  color: var(--accent-color);
  transition: all 0.15s ease-in-out;
}

#surprise_button:hover {
  color: var(--text-color);
  background-color: var(--accent-color);
}

#surprise_button:active {
  opacity: 0.8;
}

.hero_image {
  margin-top: 90px;
  position: relative;
  & img {
    width: 100%;
    height: 100%;
  }
}

footer {
  margin-top: 80px;
  text-align: center;
  font-family: "Pixelify Sans";
  color: var(--text-color);
  font-weight: bold;
  & a{
    font-size: larger;
    color: var(--text-color);
  }
}

a {
  text-decoration: none;
  color: inherit;
}

footer #copyright {
  font-family: sans-serif;
}

.yellow_glow_1,
.yellow_glow_2 {
  position: absolute;
  width: 300px; 
  height: 300px;
  border-radius: 50%;
  filter: blur(80px);
  opacity: 0.4;
  z-index: 0; 
}

.yellow_glow_1 {
  top: 5%;
  right: -60%;
  background-color: var(--accent-color);
}

.yellow_glow_2 {
  background-color: var(--accent-color);
  bottom: 0%;
  left: -90%;
}

.cloud {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  color: #2e2e2e;
  padding: 8px 12px;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  font-size: 14px;
  transition: transform 0.3s ease;
  border: 2px solid var(--link-color);
}

.cloud a {
  text-decoration: none;
  color: #2e2e2e;
  font-weight: bold;
}

.cloud1 {
  top: 30px;
  left: 10px;
  animation: float1 6s ease-in-out infinite;
}

.cloud2 {
  top: 75%;
  left: -10px;
  animation: float2 5s ease-in-out infinite;
}

.cloud3 {
  bottom: 10%;
  right: -25px;
  width: 90px;
  text-align: center;
  transform: translateY(-50%);
  animation: float3 7s ease-in-out infinite;
}

@keyframes float1 {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}


@keyframes float2 {
  0%, 100% { transform: translateY(-50%) translateX(0); }
  50% { transform: translateY(-50%) translateX(10px); }
}

@keyframes float3 {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(12px); }
}


@media (max-width: 1024px) {
  nav {
    width: 100%;
    gap: 10px;
    font-size: 20px;
  }
  .hero_image{
    width: 550px;
    height: 550px;
    margin-top: 70px;
  }

  h1,h1 span {
    font-size: 50px;
    max-width: 600px;
  }

  #surprise_button, nav div p{
    font-size: 20px;
  }

  .yellow_glow_1,
  .yellow_glow_2 {
    width: 250px;
    height: 250px;
    filter: blur(70px);
  }

  .yellow_glow_1 {
    top: 10%;
    right: -25%;
  }

  .yellow_glow_2 {
    left: -40%;
    bottom: 10%;
  }
}

@media (max-width: 768px) {
  h1,h1 span {
    font-size: 40px;
    max-width: 500px;
  }

  #surprise_button,nav,nav div p {
    font-size: 18px;
  }

  .yellow_glow_1,
  .yellow_glow_2 {
    width: 200px;
    height: 200px;
    filter: blur(60px);
  }

  .yellow_glow_1 {
    top: 15%;
    right: -30%;
  }

  .yellow_glow_2 {
    left: -40%;
    bottom: -5%;
  }

  .hero_image{
    width: 450px;
    height: 450px;
    margin-top: 70px;
  }
}
@media (max-width: 608px) {
  nav ul{
    gap: 15px;
  }
  .hero_image{
    width: 400px;
    height: 400px;
    margin-top: 70px;
  }
  #logo_short{
    display: block;
  }
  #logo_full{
    display: none;
    padding: 2px;
  }
  footer{
    font-size: 17px;
  }
}

@media (max-width: 480px) {
  nav{
    gap: 10px;
  }
    nav ul li {
      text-wrap: nowrap;
    }
   .hero_image{
    width: 350px;
    height: 350px;
    margin-top: 70px;
  }

   #surprise_button, nav div p{
    font-size: 18px;
  }
  footer{
    font-size: 15px;
  }
}
